.iota-avatar-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.15;
    height: 28px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 4px;
}

.iota-avatar-button-lg{    
    font-size: 14px;
    height: 32px;
}

.iota-avatar-button-primary {
    color: #fff;
    background-color: #3558e2;
    border-color: #3558e2;

    :hover {
        background-color: #2558fd;
        border-color: rgba(37, 88, 253, 0.5);
        color: #fff;
    }
}

.iota-avatar-button-dashed {
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;

    :hover{
        color: #3558e2;
        background-color: #fff;
        border-color: #3558e2;
    }
}